<!DOCTYPE html>
<html>
<head>
<title>Progetto_basi</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
</head>
<body  >

<!-- Links (sit on top) -->
<div class="w3-top" style="background-color: yellow">
  <div class="w3-row w3-large w3-light-grey">
    <div class="w3-col s3" style="background-color: yellow ">
      <a href="/" class="w3-button w3-block" style="background-color: yellow " >Home</a>
    </div>

  </div>
</div>

<!-- Content -->
<br>
<br>

<br>
<ul class="list-group">
  <a href="/Query_30" ><li class="list-group-item">Elencare marca e modello di auto prelevate nella **città**, nel periodo **periodo** </li></a>
  <a href="/Query_31" ><li class="list-group-item">Calcolare il numero totale di noleggi e acquisti di veicoli a **tipo** ruote </li></a>
  <a href="/Query_32" ><li class="list-group-item">Visualizzare nome, cognome e codice fiscale dei clienti che hanno noleggiato 3+ volte un’auto **categoria**</li></a>
  <a href="/Query_33" ><li class="list-group-item">Visualizzare la marca di automobile con il maggior numero di noleggi da parte dei clienti che hanno più di 60 annni</li></a>
  <a href="/Query_34" ><li class="list-group-item">Id dei dipendenti che nel 2022 hanno ricevuto più provvigioni</li></a>
  <a href="/Query_35" ><li class="list-group-item">Verificare se ai clienti a cui sono state inviate le e-mail (promozionale) poi hanno effettivamente acquistato veicolo</li></a>
  <a href="/Query_36" ><li class="list-group-item">Visualizziare gli ID d singoli clienti, il numero degli ordini effettuati per vendita o noleggio</li></a>
  <a href="/Query_37" ><li class="list-group-item">Restituire le foto del primo veicolo acquistato da un cliente con codice fiscale **codice fiscale**</li></a>
  <a href="/Query_38" ><li class="list-group-item">Visualizzare il preventivo del noleggio dei veicoli del **brand** per **giorni** giorni</li></a>
  <a href="/Query_39" ><li class="list-group-item">Restituire ID dei dipendenti che hanno ricevuto il maggior numero di recensioni positive (Soddisfatto, Molto Soddisfatto)</li></a>
  <a href="/Query_40" ><li class="list-group-item">Restituire ID dei dipendenti che hanno ricevuto il maggior numero di recensioni negative (Insoddisfatto, Molto Insoddisfatto) </li></a>
  <a href="/Query_41" ><li class="list-group-item">Restituire ID delle concessionarie i cui veicoli hanno ricevuto il maggior numero di recensioni positive (Soddisfatto, Molto Soddisfatto)</li></a>
  <a href="/Query_42" ><li class="list-group-item">Inviare gli auguri ai clienti che oggi compiono gli anni </li></a>
  <a href="/Query_43" ><li class="list-group-item">Visualizzare la concessionaria che ha fatto più vendite nel periodo **periodo**, specificando ID concessionaria e numero di vendite</li></a>
  <a href="/Query_44" ><li class="list-group-item">Differenza tra la media del prezzo di vendita dei veicoli e la media del prezzo dei veicoli del brand **brand** </li></a>
  <a href="/Query_45" ><li class="list-group-item">Differenza tra la somma dei prezzi di listino dei veicoli venduti e la somma dei prezzi di vendita dei rispettivi veicoli</li></a>
  <a href="/Query_46" ><li class="list-group-item">ID dei veicoli che sono in deposito da più tempo rispetto alla media </li></a>

</ul>


<!-- Footer -->
<br><br><br>
<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
  <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>

</footer>



</body>
</html>