<!DOCTYPE html>
<html>
<head>
<title>Progetto_basi</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
html{ height:100%}
</style>
</head>
<body style="background: url('{{url_for('static', filename='')}}'); background-repeat: no-repeat;background-size: 100% 100%" >


<!-- Links (sit on top) -->
<div class="w3-top" style="background-color: yellow">
  <div class="w3-row w3-large w3-light-grey">
    <div class="w3-col s3" style="background-color: yellow ; width:25%">
      <a href="/" class="w3-button w3-block" style="background-color: yellow " >Home</a>
    </div>
    <div class="w3-col s3" style="width:25%">
      <a href="/Query_1" class="w3-button w3-block" style="background-color: yellow ">Cliente</a>
    </div>
    <div class="w3-col s3" style="width:25%">
      <a href="/Storia" class="w3-button w3-block" style="background-color: yellow ">La nostra storia</a>
    </div>
    <div class="w3-col s3" style="width:25%">
      <a href="/Analitiche" class="w3-button w3-block" style="background-color: yellow ">Analitiche</a>
    </div>

  </div>
</div>

<!-- Content -->

<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
  <div class="w3-panel w3-container w3-padding-32  ">

    <h1><b>SUNNY MOTORS</b></h1>
    <p>Cardealership</p>
    <p>gruppo 1</p>
  </div>

  <!-- Grid -->
  <div class="w3-row w3-container">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Cosa offriamo</span>
    </div>
    <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
      <h3>Vendita</h3>
      <p>Ci occupiamo della vendita di veicoli a due e quattro ruote, nuovi e usati</p>
    </div>

    <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
      <h3>Noleggio</h3>
      <p>Ci occupiamo del noleggio di veicoli a due e quattro ruote, nuovi e usati</p>
    </div>

    <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
      <h3>negozio online </h3>
      <p>   Acquisti e prenotazioni online in soli pochi passaggi </p>
    </div>

    <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
      <h3>Consulenze</h3>
      <p>Consigliamo l'auto adatta in base alle tue esgenze</p>
    </div>
  </div>

  <!-- Grid -->
  <div class="w3-row-padding" id="plans">
    <div class="w3-center w3-padding-64 ">
      <div>
      <h3>Business Idea</h3>
       </div>
      <p>Garantire il trasporto autonomo e individuale.</p>
    </div>
  </div>



  <!-- Grid -->
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar  w3-padding-16">Who We Are</span>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="{{url_for('static', filename='WIN_20220526.05_38_01_Pro.jpg')}}" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>Carmine Landolfi</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>Ottime abilità da dirigente e elevate capacità di gestione.</p>
          <p><button class="w3-button w3-light-grey w3-block"><a href="/action_page"> Contact</a></button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Francescoantonio Carbone</h3>
          <p class="w3-opacity">co-Founder</p>
          <p>Elevate competenze nell'ambito della programmazione.</p>
          <p><button class="w3-button w3-light-grey w3-block"><a href="/action_page"> Contact</a></button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>Mariapia Tedesco</h3>
          <p class="w3-opacity">Co-founder</p>
          <p>Elevate capacità in ambito dirigenziale.</p>
          <p><button  class="w3-button w3-light-grey w3-block"><a href="/action_page"> Contact</a></button></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div class="w3-center w3-padding-64" id="contact">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Contact Us</span>
  </div>

  <form class="w3-container" action="/action_page" target="_blank">
    <div class="w3-section">
      <label>Name</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Name" required>
    </div>
    <div class="w3-section">
      <label>Email</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Email" required>
    </div>
    <div class="w3-section">
      <label>Subject</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Subject" required>
    </div>
    <div class="w3-section">
      <label>Message</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Message" required>
    </div>
    <button type="submit" class="w3-button w3-block w3-black">Send</button>
  </form>

</div>

<!-- Footer -->
<br><br><br>
<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
  <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>

</footer>



</body>
</html>